extends layout.pug 

block metadata
    title Inicio

block content 
       .container-posts    
            each post in posts 
                .card-post  
                    if post.image.length >0 

                        img(src= `data:image/jpeg;base64,${post.images[0].base64}` alt= post.titulo)

                    h3= post.titulo 

                    p= post.description           
            