extends layout.pug 

block metadata
    title Inicio

block content 
    h1 INICIO  BADREEEEEEEEEEEEEEEE

     .upload-container       
        .upload-button 
            button(type='button') Publicar imagenes


block scripts
    script(src='/javascripts/index.js')            