extends layout.pug 

block metadata
    title Inicio
    link(rel="stylesheet", href="/styles/styleindexPost.css")

block content 
       .container-posts    
            each post in posts 
                .card-post  
                    if post.images && post.images.length > 0 

                        img(src= `data:image/jpeg;base64,${post.images[0].base64}` alt= post.titulo)
                        a.button(href="/") Ir
                    h3= post.titulo 

                    p= post.descripcion         
            