doctype html
html(lang="en")
    head
        title  LA MEGA FOTAZA
        block mds 




    body 
    nav 
        a(href="/") Inicio 
        a(href="shop.pug")  Tienda 
    main 
        block content 
    
