
extends layout.pug

block metadata
        title login 
        link(rel="stylesheet" href="/styles/stylelogin.css")
block content 
        .container-login
            .login-box
                .container-form-login

                form(action="/login" method="POST")
                    h1 Iniciar Sesion

                    .input-group-login

                        input(type="gmail" ,name="gmail", id="gmail",  required ,placeholder= "Correo Electonico")
                    .input-group-login

                        input(type="password" name="password" id="password" required placeholder= "Contraseña")


                    .remember-forgot-login
                        input(type="checkbox") 
                        label Recordarme 
                        a(href="#") Olvidaste tu contraseña? 
                        .btn-login 
                            button(type="submit") Iniciar Sesion   

                    .register-link-login
                        label No tienes cuenta? 
                        a(href="#") Registrate! 

