@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');   


body {
    margin: 0;
    background-color: #000;
}

.navbar{
box-shadow: 0 0 20px gold;
}

.navbar-box {
    
    display: flex;
    justify-content: space-between;

    align-items: center;

    padding: 15x 30px;

    background: #000
    
}

.left,
.center,
.right {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: 'Poppins', sans-serif;



}

.center input {
    background-color: #000;
    color: gold;


}

input:focus {
    outline: gold solid 2px;
    box-shadow: 0 0 5px gold;
}


.center input::placeholder {
    color: white;
    opacity: 0.7; 
}

.button {
    font-family: 'Poppins', sans-serif;
    color: gold;
    text-decoration: none;

    box-shadow: 0 0px 10px gold;
    padding: 15px;

}


.center input {
    padding: 8px 12px;


    border-radius: 8px;
    border: gold solid;
    box-shadow: 0 0 10px gold;
    width: 250px;
}


.center button {

    font-family: 'Poppins', sans-serif;
   
    color: gold;
    background-color: #000;
    border: none;
    
    box-shadow: 0 0px 10px gold;
    padding: 15px;

}