@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container-posts{
    column-count: 4;
    column-gap: 20px;
    padding: 20px;
}

.card-post{
    break-inside: avoid;
    margin-bottom: 20px;

    background: #111;
    border-radius: 15px;

    overflow: hidden;

    border: 1px solid gold;
}

.card-post img{
    height: 200px;
    width: 100%;
    object-position: top;
    object-fit: cover;
    display: block;
}

.card-post h3{
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 10px;
}

.card-post p{
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 0 10px 10px;
}